ion-header {
  text-align: center;
}

ion-footer {
  text-align: center;
}

div {
  font-size: 25px;
  text-align: center;
  padding: 5px;
  margin: auto;
  background-color:rgb(162, 102, 219);
  height: 100%;
}

div#container {
  height: 95%;
}

div#controles {
  background-color: rgb(109, 7, 150);
  margin: auto;
  padding: 2%;
}

strong {
  font-size: 30px;
}

ion-input {
  background-color: rgb(125, 29, 252);
  margin: auto;
  width: max-content;
}

